<template>
  <div class="todo-item">
    <div class="todo-item-left">
      <input
        style="width:20px; height:20px; cursor:pointer;"
        type="checkbox"
        v-model="completed"
        @change="doneEdit"
      />
      <div
        style="font-size:18px; font-weight:600"
        v-if="!editing"
        @dblclick="editTodo"
        class="todo-item-label"
        :class="{ completed : completed }"
      >{{ title }}</div>
      <input
        v-else
        class="todo-item-edit"
        type="text"
        v-model="title"
        @blur="doneEdit"
        @keyup.enter="doneEdit"
        @keyup.esc="cancelEdit"
        v-focus
      />
    </div>
    <!-- end todo-item-left -->
    <div>
      <span
        style="color:red; font-weight:bold; font-size:24px"
        class="remove-item"
        @click="removeTodo(todo.id)"
      >&times;</span>
    </div>
  </div>
  <!-- end todo-item -->
</template>

<script>
export default {
  name: "todo-item",
  props: {
    todo: {
      type: Object,
      required: true
    },
    checkAll: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      id: this.todo.id,
      title: this.todo.title,
      completed: this.todo.completed,
      timestamp: this.todo.timestamp,
      editing: this.todo.editing,
      beforeEditCache: ""
    };
  },
  watch: {
    checkAll() {
      this.completed = this.checkAll ? true : this.todo.completed;
    },
    todo() {
      this.title = this.todo.title;
      this.completed = this.todo.completed;
    }
  },
  directives: {
    focus: {
      inserted: function(el) {
        el.focus();
      }
    }
  },
  methods: {
    removeTodo(id) {
      this.$store.dispatch("deleteTodo", id);
    },
    editTodo() {
      this.beforeEditCache = this.title;
      this.editing = true;
    },
    doneEdit() {
      if (this.title.trim() == "") {
        this.title = this.beforeEditCache;
      }
      this.editing = false;
      this.$store.dispatch("updateTodo", {
        id: this.id,
        title: this.title,
        completed: this.completed,
        timestamp: this.timestamp,
        editing: this.editing
      });
    },
    cancelEdit() {
      this.title = this.beforeEditCache;
      this.editing = false;
    }
  }
};
</script>

