<template>
  <button v-if="showClearCompletedButton" @click="clearCompleted">Xóa công việc đã hoàn thành</button>
</template>

<script>
export default {
  name: "todo-clear-completed",
  computed: {
    showClearCompletedButton() {
      return this.$store.getters.showClearCompletedButton;
    }
  },
  methods: {
    clearCompleted() {
      this.$store.dispatch("clearCompleted");
    }
  }
};
</script>

