<template>
  <div class="check-all">
    <label style="font-size:18px;" class="lbl-chek">
      <input
        style="width:20px; height:20px; cursor:pointer; margin-right:20px;"
        type="checkbox"
        :checked="!anyRemaining"
        @change="allChecked"
      />Chọn tất cả
    </label>
  </div>
</template>

<script>
export default {
  name: "todo-check-all",
  computed: {
    anyRemaining() {
      return this.$store.getters.anyRemaining;
    }
  },
  methods: {
    allChecked() {
      this.$store.dispatch("checkAll", event.target.checked);
    }
  }
};
</script>

<style scoped lang="scss">
</style>