<template>
  <div v-if="remaining > 0">
    Còn lại
    <big style="color:red">{{ remaining }}</big> công việc chưa hoàn thành
  </div>
  <div v-else>Đã hoàn thành hết các công việc !</div>
</template>

<script>
export default {
  name: "todo-remaining",
  computed: {
    remaining() {
      return this.$store.getters.remaining;
    }
  }
};
</script>

