<template>
  <div id="app">
    <div id="nav">
      <router-link v-if="!loggedIn" to="/login">Login</router-link>
      <router-link v-if="!loggedIn" to="/register">Register</router-link>
      <router-link v-if="loggedIn" to="/">Home</router-link>
      <router-link v-if="loggedIn" to="/about">About</router-link>
      <router-link v-if="loggedIn" to="/todo">Todo</router-link>
      <button v-if="loggedIn" v-on:click="onLogout">Logout</button>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    }
  },
  watch: {
    loggedIn(value) {
      if (!value) {
        this.$router.push("/login", () => {});
      }
    }
  },
  methods: {
    onLogout() {
      this.$store.dispatch("logout");
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  button {
    padding-top: 0px;
    margin-left: 40px;
    font-size: 24px;
    font-weight: bold;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    // border: 1px solid #42b983;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  a {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    margin-left: 40px;
    text-decoration: none;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
