<template>
  <div>
    <img alt="Vue logo" src="../../assets/logo.png" />
    <h1>{{ title }}</h1>
    <h2>Vui lòng đăng nhập</h2>

    <form action method="post" v-on:submit.prevent="onLogin">
      <input type="text" v-model="email" placeholder="Nhập email" />
      <input type="password" v-model="password" placeholder="Nhập password" />
      <button type="submit">Đăng nhập</button>
    </form>
    <div class="error">
      <p v-if="error">{{error.message}}</p>
      <p v-if="status">{{status}}</p>
    </div>

    <div class="no-account">
      <p>
        Bạn chưa có tài khoản ?
        <a v-bind:href="registerUrl">Đăng kí ngay</a>
      </p>
    </div>

    <h1>{{ email}}</h1>
    <h2>{{ password}}</h2>
  </div>
</template>

<script>
import { log } from "util";
// @ is an alias to /src

export default {
  name: "login",
  data() {
    return {
      title: "Chào mừng bạn đến với TVN group",
      registerUrl: "register",
      email: "",
      password: ""
    };
  },
  computed: {
    user() {
      console.log("computed user in login page : " + this.$store.getters.user);
      return this.$store.getters.user;
    },
    error() {
      console.log("computed error in login page: " + this.$store.getters.error);
      return this.$store.getters.error;
    },
    status() {
      console.log(
        "computed status in login page : " + this.$store.getters.status
      );
      return this.$store.getters.status;
    }
  },
  watch: {
    user(value) {
      console.log("Watch in login: " + value);
      if (value !== null && value !== undefined) {
        this.$router.push("/");
      }
    }
  },
  methods: {
    onLogin() {
      this.$store.dispatch("logInAction", {
        email: this.email,
        password: this.password
      });
    }
  }
};
</script>

<style scoped lang="scss">
body {
  text-align: center;
}
h1 {
  font-weight: bold;
  color: #42b983;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 400px;
    margin-bottom: 20px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
  }
  button {
    width: 400px;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    border: 1px solid #42b983;
    background-color: #42b983;
    color: whitesmoke;
  }
}
.no-account {
  margin-top: 40px;
  font-size: 18px;
  p {
    a {
      color: #42b983;
      font-weight: bold;
    }
  }
}
.error {
  p {
    color: red;
    font-size: 18px;
  }
}
</style>