<template>
  <div>
    <img alt="Vue logo" src="../../assets/logo.png" />
    <h1>{{ title }}</h1>
    <h2>Đăng ký tài khoản</h2>

    <form v-on:submit.prevent="onSubmit">
      <input type="email" v-model.lazy="email" placeholder="Nhập email" />
      <input type="password" v-model="password" placeholder="Nhập password" />
      <input type="password" v-model="confirmPassword" placeholder="Nhập lại password" />
      <button type="submit" v-on:click="register">Đăng ký</button>
    </form>
    <div class="has-account">
      <p>
        Bạn đã có tài khoản ?
        <a v-bind:href="loginUrl">Đăng nhập ngay</a>
      </p>
    </div>

    <h1>{{ email}}</h1>
    <h2>{{ password}}</h2>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "register",
  data() {
    return {
      title: "Chào mừng bạn đến với TVN group",
      loginUrl: "login",
      email: "",
      password: "",
      confirmPassword: ""
    };
  },
  computed: {},
  methods: {
    register() {
      alert("dang ky thanh cong");
    }
  }
};
</script>

<style scoped lang="scss">
body {
  text-align: center;
}
h1 {
  font-weight: bold;
  color: #42b983;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 400px;
    margin-bottom: 20px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
  }
  button {
    width: 400px;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    border: 1px solid #42b983;
    background-color: #42b983;
    color: whitesmoke;
  }
}
.has-account {
  margin-top: 40px;
  font-size: 18px;
  p {
    a {
      color: #42b983;
      font-weight: bold;
    }
  }
}
</style>